* {
    margin: 0px;
    padding: 0px;
}

.login-container,
.signup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #474bff;
    background: -webkit-linear-gradient(221deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(221deg, #474bff 0%, #bc48ff 100%);
}

.form-login-container, .form-signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.225);
    max-width: 450px;
    height: 500px;
    border-radius: 10px;
    width: 100%;
    margin: 0px 20px;
}

.login-header, .signup-header {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0;
}

.username-container, .password-container, .signup-input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.password-container {
    position: relative;
}

.login-text {
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0;
}

.login-input {
    font-size: 22px;
    border-radius: 5px;
    border: .25px solid black;
    padding: 2.5px;
}

.login-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 61%;
    right: 2%;
    cursor: pointer;
}

.open-eye {
    display: none;
}

.btn-submit {
    margin: 5px 0;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    max-width: 125px;
    height: 35px;
    width: 100%;
    background-color: #6062fd;
    cursor: pointer;
    transition: 1s;
}

.btn-submit:hover {
    background-color: #4749af;
    color: black;
}